:root {
  --color-dark: #000000;
  --color-light: #ffffff;
  --color-light-alt: #fdfcff;
  --color-light-gray: #ededed;
  --color-blue: #4f46e5;
  --color-gray: #c3bfbf;

  --border-radius: 16px;
  --border-radius-small: 8px;

  --font-family-base: "Raleway", sans-serif;
  --font-family-inter: "Inter", sans-serif;

  --container-width: 1440px;

  --container-padding-x: 120px;

  --transition-duration: 0.2s;
}
